<md-card>

  <md-card-content ng-repeat="sw in sweetches">
    <h1>
      <md-icon>settings_ethernet</md-icon>
      {{ sw.switch.mac }}
    </h1>
    <span>{{ sw.switch.description }}</span>

    <div class='switch'>
      <table>
        <tr align="center">
          <td width="4%" ng-repeat="p in layout">{{p}}</td>
        </tr>
        <tr class='switch-top-row'>
          <td ng-repeat="p in layout">
            <div ng-repeat="node in sw.ports[p]" swap-md-paint-bg="status_{{ api.getNodeStatus(_nodes[node.id]) }} primary">
              <md-tooltip md-direction="bottom">
                {{node.name}}: {{node.nic}}
              </md-tooltip>
              <a ng-href="#/nodes/{{node.id}}">
                <md-icon aria-label='{{ api.getNodeStatus(_nodes[node.id]) }}' swap-md-paint-fg="status_{{ api.getNodeStatus(_nodes[node.id]) }} foreground">
                  {{ api.getNodeIcon(_nodes[node.id]) }}
                </md-icon>
              </a>
            </div>
          </td>
        </tr>
        <tr class='switch-bottom-row'>
          <td ng-repeat="p in layout">
            <div ng-repeat="node in sw.ports[p+1]" swap-md-paint-bg="status_{{ api.getNodeStatus(_nodes[node.id]) }} primary">
              <md-tooltip md-direction="bottom">
                {{node.name}}: {{node.nic}}
              </md-tooltip>
              <a ng-href="#/nodes/{{node.id}}">
                <md-icon aria-label='{{ api.getNodeStatus(_nodes[node.id]) }}' swap-md-paint-fg="status_{{ api.getNodeStatus(_nodes[node.id]) }} foreground">
                  {{ api.getNodeIcon(_nodes[node.id]) }}
                </md-icon>
              </a>
            </div>
          </td>
        </tr>
        <tr align="center">
          <td ng-repeat="p in layout">{{p+1}}</td>
        </tr>
      </table>
    </div class='switch'>
  </md>
</md-card>